extends layout

block content
    h2= 'Commande #'+order._id
    hr
    .container-fluid
        h3
            b Facture
        .facture
            table.table(style='border:solid 1px')
                thead
                    tr
                         th(scope='col') #
                         th(scope='col') Nom
                         th(scope='col') Quantite
                         th(scope='col') Prix
                tbody

                    each item,index in order.list
                        tr
                            th(scope='row')= index
                            td
                                a(href='/product/'+item.product._id)=item.product.name
                            td= item.quantity
                            td.prix= item.product.price
                    tr
                        th(scope='row') Total
                        td
                        td
                        td.prix= order.price


        .owner
            label(for='owner')
            p
                b Utilisateur:
            .owner-info(style='margin-left:55px')
                p
                    b Nom:
                    .a(style='margin-left:5%')= order.owner.name
                p
                    b Addresse:
                    .a(style='margin-left:5%')= order.address.city + '/' + order.address.block + '/' +order.address.name
                p
                    b Numero WhatsApp:
                    .a(style='margin-left:5%')= order.owner.phoneNumber

        hr
        .info2.form-group
            label(for='status')
                b Status de commande:
            select(style='margin-left:55px' id='status').form-control1
                option(disabled value='paiement') Attente de paiement
                option(value='traitement' id='processing') En Traitement
                option(value='preparation' id='preparing') En Preparation
                option(value='livraison' id='delivering') En cour de livraison
                option(value='livree' id='delivered') Livree

        script.

            var orderId = '#{order._id}'
            var orderState = '#{order.state}'

            $(function(){
                $('#status').change(function(){
                    $.post(`/admin/order/${orderId}/edit`,
                        {
                            orderId: orderId,
                            state: this.value

                        },function(data,status){
                            let msg = 'Une erreur est survenue '
                            let infoClass = 'msg-error'
                            if(status=='success'){
                                msg='Commande modifiee avec success'
                                infoClass='msg-success'
                                }

                            $('#informative').addClass(infoClass)
                            $('#informative').html(`<h5>${msg}</h5>`)
                            $('#informmative').fadeOut(5000,'swing')
                            alert(msg)
                        }

                    )

                })



            })

            /*
                let msg = document.getElementById('informative')
                msg.className = 'msg-success'
                msg.innerHTML =
                console.log(msg)

                console.log(response.name)}
                */

            function commafy (numb) {
                var str = numb.toString().split('.');
                if (str[0].length >= 5) {
                    str[0] = str[0].replace(/(\d)(?=(\d{3})+$)/g, '$1,');
                }
                if (str[1] && str[1].length >= 5) {
                    str[1] = str[1].replace(/(\d{3})/g, '$1 ');
                }
                return str.join('.');}
            for(price of $('.prix')){
                price.innerHTML = commafy(price.innerHTML) + 'Fcfa'
            }


            function selection(){
                console.log(orderState)
                let sel = document.getElementById('status')
                let opts = sel.options
                for(var opt, j=0; opt=opts[j];j++){
                    if(opt.value == orderState){
                        sel.selectedIndex = j
                        break
                    }
                }}
            selection()
