extends clientLayout

block content
    h2= 'Commande #'+order._id
    hr
    .container-fluid
        .info
            .row
                .addresse.col-6(style='text-align:center')
                    .col-12
                        label
                            b Addresse:
                    .col-12
                        p= order.address.city
                        p= order.address.block
                        p= order.address.name

                .info2.col-6(style='text-align:center')
                    .col-12
                        label
                            b Status:
                    .col-12
                        p= order.state

        h3 Produits
        .container
        #facture
            table.table(style='border:solid 1px')
                thead
                    tr
                         th(scope='col') #
                         th(scope='col') Nom
                         th(scope='col') Quantite
                         th(scope='col') Prix
                tbody

                    each item,index in order.list
                        tr
                            th(scope='row')= index
                            td
                                a(href='/product/'+item.product._id)=item.product.name
                            td= item.quantity
                            td.prix= item.product.price
                    tr
                        th(scope='row') Total
                        td
                        td
                        td.prix= order.price

        hr
