extends clientLayout

block content
    h2= 'Commande #'+order._id
    hr
    .container-fluid
        h3 Produits
        .container
        #facture
            table.table(style='border:solid 1px')
                thead
                    tr
                         th(scope='col') #
                         th(scope='col') Nom
                         th(scope='col') Quantite
                         th(scope='col') Prix
                tbody

                    each item,index in order.list
                        tr
                            th(scope='row')= index
                            td
                                a(href='/product/'+item.product._id)=item.product.name
                            td= item.quantity
                            td.prix= item.product.price
                    tr
                        th(scope='row') Total
                        td
                        td
                        td.prix= order.price

        hr
        .info2
            p= 'Status:' + order.state
