extends layout

block content
    include partials/nav
    br
    h3 Admin page
    hr
    br
    include partials/sidenav
    .main
        if(title)
            h3= (title)
        else
            h3 Produits
        hr
        .search-container
            form(action='/action_page.php')
                input(type='text', placeholder='Search..', name='search')
                button(type='submit')
                    i.fa.fa-search
        .add-container
            a(href='/admin/product/create')
                button.btn.btn-primary(type='button') New Product

        .flex-container
            each product in products
                a(href='/admin/product/'+product._id)
                    .product
                        p= product.name
                        img(src=product.imgPath)
                        p= product.price + "Fcfa"
                        p= product.description
